<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PG Nest</title>
        <link rel="icon" href="/assets/pg-nest.png" type="image/icon type">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script> -->
    </head>

    <body>
        <div class="outer-box">
            <div class="logo-box">
                <div class="outer-logo-box">
                    <div class="inner-box">
                        <div class="main-box">
                            <div><h2>Welcome To</h2></div>
                            <div><img src="/assets/pg-nest.png" alt=""></div>
                        </div>
                        <div style="text-align: center;"><a href="/campgrounds"><button class="btn btn-primary" style="background-color: #3d90e3;">Get Started</button></a></div>
                    </div>
                </div>
            </div>
            <div class="animation-box">
               <div style="width: 100%; height:100%;" class="animation">
                    <ul style="height:100%;" class="slideshow">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
               </div>
            </div>
        </div>
        <div >
            <div class="col-lg-12" style="width: 50%;background-color: beige;">
            <div class="footer__copyright">
                <div class="footer__copyright__text"><p>
    Copyright &copy;
    <script>document.write(new Date().getFullYear());</script> 
    All rights reserved | PG Nest 2020 | Made with ❤️ by Aditya Jain
            </div>
        </div>
        </div>
    </body>

</html>